.ticker-list span {
    color: white; 
}
iframe{
    width: 100%;
    height: 500px;
}

img.zoomed {
    transform:scale(4);
    -ms-transform:scale(4); /* IE 9 */
    -moz-transform:scale(4); /* Firefox */
    -webkit-transform:scale(4); /* Safari and Chrome */
    -o-transform:scale(4); /* Opera */
}